@use '_base' as *;


.titel_intro {
  width: 80%;
  margin: 5rem auto;
  h1 {
    width: 40%;
    font-size: 80px;
    color: $color-text;
    box-shadow: inset 0 0 0 0 $color-blue;
    transition: color 1s ease-in-out, box-shadow 1s ease-in-out;
    &:hover {
      box-shadow: inset 0 -200px 0 0  $color-blue;
      color: $color-text ;
    }
  }
}


.filter_and_product {
  padding-top: 2rem;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .filter {
    width: 20%;

    p {
      font-size: 20px;
      margin: 0 0 0 1rem;
    }

    h2 {
      margin-bottom: 2rem;
    }

    hr {
      width: 100%;
    }
  }

  .checkBox {
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    box-shadow: 0 0 0 2px #fff;
  }

  .filter_component {
    display: flex;
    margin: 0 0 2rem 0;
  }

  .underline {
    width: 30%;
    margin: 0 auto 2rem 0;
  }


  .producten_incol {
    display: flex;
    flex-direction: column;
    width: 100%;

    .producten {

      display: flex;
      flex-wrap: wrap;
      margin: 0 0 5rem 0;
      width: 100%;

      .detail {
        background: rgba(255, 255, 255, 0.11);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.4px);
        -webkit-backdrop-filter: blur(9.4px);
        border: 1px solid rgba(255, 255, 255, 0.4);
        flex: 0 0 calc(25% - 10px); // Hier 25% betekent dat er 4 items naast elkaar passen, met 20px ruimte tussen hen
        box-sizing: border-box;
      }

      .product {
        width: 100%;
        height: 400px;
        background-color: #363636;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);

        &:hover {
          box-shadow: 0 0 20px $color-blue;
          border-color: $color-blue;
          cursor: pointer;
        }

        img {
          width: 100%;
          border-radius: 16px 16px 0 0;

        }

        h2 {
          margin: 3px 0 0 10px;
          font-size: 25px;
        }

        .bottom {
          position: absolute;
          bottom: 15px;

        }

        p {
          margin: 3px 0 0 10px;
        }

        .right {
          float: right;
          right: 15px;
        }

        span {
          margin: 0 0 0 2rem;
        }

        button {
          font-size: 10px;
          padding: 3px 5px;
          border: none;
          color: $color-text;
          border-radius: 7px;

          background: $color-blue;

          h3 {
            font-size: 17px;
          }


        }
      }
    }
  }
}

.producten_incol_2 {
  display: flex;
  flex-direction: column;
  width: 100%;

  .producten {

    justify-content: space-evenly;
    margin: 0 0 5rem 0;
    width: 100%;

    .detail {
      background: rgba(255, 255, 255, 0.11);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(9.4px);
      -webkit-backdrop-filter: blur(9.4px);
      border: 1px solid rgba(255, 255, 255, 0.4);

    }

    .product {
      width: 100%;
      height: 105%;
      background-color: #363636;
      transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
      margin: 0 3rem;
      &:hover {
        box-shadow: 0 0 20px $color-blue;
        border-color: $color-blue;
        cursor: pointer;
      }

      img {
        width: 100%;
        border-radius: 16px 16px 0 0;

      }

      h2 {
        margin: 3px 0 0 10px;
        font-size: 25px;
      }

      .bottom {
        position: absolute;
        bottom: 15px;

      }

      p {
        margin: 3px 0 0 10px;
      }

      .right {
        float: right;
        right: 15px;
      }

      span {
        margin: 0 0 0 2rem;
      }

      button {
        font-size: 10px;
        padding: 3px 5px;
        border: none;
        color: $color-text;
        border-radius: 7px;

        background: $color-blue;

        h3 {
          font-size: 17px;
        }


      }
    }
  }
}

.pagination {
  margin: 0 auto 5rem auto;


  a {
    color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;

  }
  .bluebackgr {
    background-color: $color-blue;
  }
}
.cart {
  display: flex !important;
  border: 1px white solid;
  width: 50%;
  .smallerdiv {
    width: 100px;

  }
  img {
    width: 100% !important;
    height: auto !important;
  }
  .marginchange {
    margin: 0 !important;
    float: left !important;
  }
}
.imgsmaller {
  img {
    width: 40%;
    height: auto;
  }
}
.nav-list {
  display: flex !important;

    li {
      margin: 0 3rem !important;
      font-size: 20px;
    }

}
@media screen and (max-width: 1000px) {

  .filter_and_product {



    .filter_component {
      display: flex;
      margin: 0 0 2rem 0;

    }




    .producten_incol {
      display: flex;
      flex-direction: column;
      width: 80%;

      .producten {
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto 5rem auto;
        width: 100%;


        .product {
          width: 30%;
          height: 400px;
          background-color: #363636;
          transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);

          &:hover {
            box-shadow: 0 0 20px $color-blue;
            border-color: $color-blue;
            cursor: pointer;
          }


        }
      }
    }
  }
}



